body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: whitesmoke;
    background-color: hsl(225, 82%, 6%);
    margin: auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    line-height: 18px;
    transition: ease-in-out 0.75s;
}

.header {
    margin: auto;
    text-align: center;
    padding: 10px;
    font-family: 'Lucida Sans';
}

    .header:hover {
    }

.content {
    width: 100%;
    display: grid;
    grid-template-areas: 'sn fl yb'
        'hr hr hr'
        'ucc ucs ucd';
}

#safenet {
    grid-area: sn;
}

#file {
    grid-area: fl;
}

#yearbook {
    grid-area: yb;
}

#heroes {
    grid-area: hr;
}

#uc-client {
    grid-area: ucc;
}

#uc-server {
    grid-area: ucs;
}

#uc-database {
    grid-area: ucd;
}

.underline-effect:after {
    content: '';
    margin: auto;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 2px solid;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

.underline-effect:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.underline-effect:hover {
    transform: scale(1.5);
    transition: ease 0.75s;
    background-color: whitesmoke;
    color: rgba(3, 3, 3, 0.99);
}

.underline-effect {
    padding: 15px;
    transition: ease 0.75s;
}

/*page title stuff*/

#pageTitle {
    font-size: 56px;
    text-align: center;
    letter-spacing: 10px;
}

    #pageTitle:after {
        content: '';
        margin: auto;
        display: inline-block;
        height: 1em;
        width: 100%;
        border-bottom: 2px solid;
        opacity: 0;
        -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
        transition: opacity 0.45s, transform 0.45s;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
    }

    #pageTitle:hover:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    #pageTitle:before {
        content: '';
        margin: auto;
        display: inline-block;
        height: 1em;
        width: 100%;
        border-top: 2px solid;
        opacity: 0;
        -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
        transition: opacity 0.45s, transform 0.45s;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
    }

    #pageTitle:hover:before {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

/*end of page title stuff*/
#myName {
    font-size: 18px;
    margin: auto;
    text-align: center;
}

h3 {
    letter-spacing: 3px;
    display: inline-block;
    text-align: center;
}

/* image stuff*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: white;
    transition: 0.5s ease-out .5s;
}

figure {
    transition-property: width;
    display: block;
    margin: auto;
    width: 40%;
    border: 2px solid white;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-out .6s;
}

figcaption {
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-style: italic;
    position: absolute;
    background: white;
    color: grey;
    padding: 10px 20px;
    padding-top: 7px;
    opacity: 0;
    bottom: 0;
    left: inherit;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

figure:hover figcaption {
    opacity: 1;
    left: 0;
    transition: .3s;
}

figure:hover body {
    background-color: rgb(32, 96, 51);
    transition: 0.75s;
}

/*image stuff*/
.footer {
    margin-top: 10%;
    margin-bottom: 0;
}
